.Sans {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px
}
.s24{font-size:24px}
.s16{font-size:16px}
.s18{font-size:18px}
.s30{font-size:30px}
.s60{font-size:60px}
.s120{font-size:120px}
.Bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rev-pad{  position:relative;
top:-60px; }