.Sans {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px
}
.s24{font-size:24px}
.s16{font-size:16px}
.s18{font-size:18px}
.Bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}