* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
label.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

label.input-group .error {
  margin-top: 0.5em;
}

input.is-invalid {
  border-color: red;
}
/* Navbar */
.navbar-nav {
  margin-right: 0 !important;
  padding-right: 100px;
}

.navbar {
  background-color: #0a193d;
  color: white !important;
}

.nav-item a {
  color: white !important;
}

.nav-item {
  padding-left: 2px;
}

.navbar-brand {
  color: white !important;
  padding-left: 100px;
}

#navbar button {
  color: white !important;
}

/* Banner */
#banner-container {
  background-color: #0a193d;
  color: white !important;
  padding-top: 80px;
  padding-bottom: 80px;
}

#banner-row img {
  max-width: 70%;
  height: auto;
  display: block;
  padding-left: 30px;
}

#banner-row h3,
#banner-row p {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

#banner-row a {
  background-color: white !important;
  color: black !important;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}

#banner-col {
  padding-left: 20px;
}

/* Service */
#service {
  padding-top: 80px;
  padding-bottom: 80px;
}

#service h1 {
  padding-bottom: 70px;
}

/* About */
#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

#about h1 {
  padding-bottom: 70px;
}

#about-col ul {
  padding-top: 50px;
  padding-left: 50px;
}

#about-col ul li {
  padding-top: 15px;
}

/* Product */
#product {
  padding-top: 80px;
  padding-bottom: 80px;
}

#product h1 {
  padding-bottom: 70px;
}

#product-col2 ul {
  padding-top: 90px;
}

#product-col2 ul li {
  padding-top: 15px;
}

/* Social */
#social {
  padding-top: 80px;
  padding-bottom: 80px;
}

#social h1 {
  padding-bottom: 70px;
}

.social-col a:hover img {
  transform: translateY(-10px);
}

#social-row {
  flex-direction: row;
}

/* Footer */
.mb-3 {
  padding-top: 10px;
}

/* Error styles */
.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

.input-group .error {
  margin-top: 0.5em;
}

.is-invalid {
  border-color: red;
}

/* Question Page */
#quiz-container {
  width: 60%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.question-container {
  display: none; /* Initially hide all questions */
  margin-bottom: 20px;
  width: 100%;
}
.question-container.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-size: 20px;
  text-align: center;
  flex: 1;
}
.options {
  list-style-type: none;
  padding: 0;
}
.options li {
  margin: 10px 0;
}
.nav-icon {
  font-size: 30px;
  cursor: pointer;
  color: #4CAF50;
}
.nav-icon:hover {
  color: #45a049;
}
.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.question-icon {
  font-size: 40px;
  color: #4CAF50;
  margin: 0 20px;
}
.error {
  color: red;
}
#finish-message {
  display: none;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
/* Question Page

/* Media Queries */
@media only screen and (max-width: 987px) {
  .navbar-brand {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #banner-row img {
    padding-top: 20px;
  }

  .social-col {
    width: 33%;
  }
}
